// 全局颜色配置

/*

*/
mainColor = #47cf73

navBgColor = white
navTextColor = #273849
navIconSize = 40px
navBarHeight = 70px

footerBg = white
footerTe = #D0D1DD
fheight = 3rem

cardShadow = rgba(0, 0, 0, 0.1) 0px 2px 12px 0px

color-primary = #46bd87
color-success = #67C23A
color-warming = #E6A23C
color-danger = #F56C6C
color-info = #909399
text-color-title = #273849
text-color-primary = #3a5169
text-color-regular = #304455
text-color-secondary = #909399
text-color-placeholder = #C0C4CC
text-color-disable = #e4e4e6
border-color-base = #DCDFE6
border-color-light = #E4E7ED
border-color-lighter = #EBEEF5
border-color-extra-light = #F2F6FC
border-color-git =rgb(209, 213, 218);

link-color-primary = #46bd87

color-white = #FFFFFF
color-black = #000000

background-color-base = #F5F7FA

boxshadow-base = 0 2px 12px 0 rgba(0,0,0,0.1);
