// 全局颜色配置

/*

*/
mainColor = #47cf73

navBgColor = rgba(0, 0, 0, 0)
navTextColor = #36323d
navIconSize = 40px
navBarHeight = 70px

footerBg = #36323d
footerTe = #D0D1DD
fheight = 3rem

cardShadow = rgba(0, 0, 0, 0.1) 0px 2px 12px 0px