@require './config'

html, body
  padding 0
  margin 0
  *
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

h4
  display inline-block
  background: linear-gradient(0deg, rgba(71, 207, 115, 0.4) 40%,#fff 0)
  padding .3rem .5rem

a 
  text-decoration none

.ri-center
  display flex
  justify-content center
  align-items center